.projects
{
    text-align: center;
    height: 45vw;
}

html {
  scroll-behavior: smooth;

}


.portfolio__container {
  height: 30vw;
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
  align-items: space-between;
}



@media (max-width:768px)
{

  .portfolio__container
  {
    height: 265vw !important;
    flex-direction: column !important;
    align-items: center;

  
  }

  .demo__video
  {
    height: 18% !important;
    width: 80% !important;

  }

  .projects
  {
    height: 295vw !important;
  }



}






